<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TFM - Desarrollo de software asistido por IA</title>
    <link rel="stylesheet" href="./vendor/reveal/dist/reset.css" />
    <link rel="stylesheet" href="./vendor/reveal/dist/reveal.css" />
    <link rel="stylesheet" href="./vendor/reveal/dist/theme/black.css" />
    <link
      rel="stylesheet"
      href="./vendor/reveal/plugin/highlight/monokai.css"
    />
    <link rel="stylesheet" href="./css/custom.css" />
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
